body{
    font-family:'Franklin Gothic';
    background-image: linear-gradient(to right, #51456b, #273456);
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 12px;
}

.mainblock{
    display: flex;
}

.left_menu{
    width: 20%;
    margin-left: 20px;
}

.companyname{
    display: flex;
    font-size: 25px;
}

.companyname > h1{
    color: white;
    font-family: 'Franklin Gothic Medium';
}

.left_menu > .companyname > img{
    margin: 34px 10px 0px 0px;
    width: auto;
    height: 40px;
}

.left_menu > ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

.left_menu > ol > li > img{
    width: auto;
    height: 20px;
    padding: 15px 10px 0px 0px;
}

.line{
    width: 200px;
    height: 1px;
    background-color: white;
    opacity: 0.2;
}

.insights ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.insights ol > li > img{
    width: auto;
    height: 20px;
    padding: 15px 12px 0px 0px;
}

.insights ol li{
    display: flex;
    align-items: flex-end;
}


.account_holder .row .column1 img{
    width: auto;
    height: 40px;
    padding: 15px 12px 0px 0px;
}

.row{
    display: flex;
}

/* ------------------- Mid Section -------------------*/

.bluesecton{
    background-color: #8475fa;
    border-radius: 15px;
    transition: 0.5s;
}

.bluesecton:hover{
    background-color: #444fb1;
    border-color: rgb(175, 210, 239);
    box-shadow: black 15px 15px 15px;
}

.mid_section_row{
    display: flex;
    padding-left: 20px;
}

.circle_img_column2{
    padding: 20px;
}

.go_setting{
    margin-top: 10px;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    background-color: #273456;
    border-color: #273456;
    cursor: pointer;
    transition: 0.3s;
}

.go_setting:hover{
    background-color:#444fb1;
    box-shadow: rgb(56, 73, 79) 3px 3px 7px;
    border-color: white;
    font-size: 13px;
}

.circle_img_column2 img{
    transition: 1s;
    opacity: 0.8;
}

.circle_img_column2 img:hover{
    transform:rotate(3deg);
    opacity: 1;

}

.mid_bottom_left_box{
    background-color: #8475fa;
    border-radius: 10px;
    margin-top: 40px;
}

.row_one ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.row_one ul li{
    display: flex;
    align-items: center;
}

.row_one ul li img, section, p {
    margin: 10px;
}

.main_circle{
    background-color: rgb(248, 214, 246);
    border-radius: 12px;
    padding: 5px;
}

.orangle_circle{
    background-color: rgb(242, 244, 130);
    border-radius: 12px;
}

.spiral{
    background-color: rgb(188, 246, 246);
    border-radius: 12px;
}

.mid_bottom_right_box{
    background-color: #3782d8;
    border-radius: 10px;
    margin-left: 20px;
    width: 40%;
}

.mid_bottom_right_box .row_one{
    background-color: #273456;
    margin: 10px;
    margin-top: 22px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 2px 2px 7px;
}

/* ------------------- Right Section -------------------*/


